.computer_logo h1 {
    display: inline-block;
    color: #33CCFF !important;
}

.computer_logo h5 {
    display: inline-block;
    color: #BDBDBD !important;
}

.tablet_mobile a {
    position: absolute !important;
    top: 0 !important;
}

.tablet_mobile h1 {
    display: inline-block;
    color: #33CCFF !important;
}

.tablet_mobile h5 {
    display: inline-block;
    color: #BDBDBD !important;
}

pre {
    font-family: 'Consolas', 'Panic Sans', 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Menlo', 'Microsoft Yahei', monospace;
    font-size: 13px;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    margin: 0px;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #efedef !important;
}

code {
    font-family: Courier, 'New Courier', monospace !important;
    font-size: 12px !important;
    color: #000c27 !important;
    display: inline !important;
}

#homepost p img {
    /* post body */
    max-height: 15rem !important;
    width: auto !important;
    display:block !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

#homepost p {
color: #777 !important;
}

#showpost p img {
    /* post body */
    max-width: 100%;
    height: auto;
}

#showpost p {
    display: block;
}

.field .ui.icon.buttons {
    display: inline-block;
    float: right;
    margin: 0 0;
}

textarea {
    min-height: 25rem !important;
}

audio {
    width: 100% !important;
}

.resizing {
    /* for preview on homepage */
    
    overflow: hidden !important;
    max-height: 15rem !important;
    line-height: 1rem !important;
}

.readmore {
    /* for preview on homepage */
    
    line-height: 1rem !important;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

hr {
    /* gray horizantol line */
    
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0;
}

a {
    line-height: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.inline {
    display: inline-block;
}

.ui.form {
    line-height: 2rem;
}

body {
    background-color: #faf9f6 !important;
}

.color {
    color: #2C3E50 !important;
}

.font {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.bottom {
    bottom: 1rem !important;
}

.stuck {
    /* for sticky editor */
    
    position: fixed;
    top: 0;
}