.computer_logo h1{
    display: inline-block;
    color: #33CCFF !important;
}
.computer_logo h5{
    display: inline-block;
    color: #BDBDBD !important;
}
.tablet_mobile a{
    position: absolute !important;
    top:0 !important;
}
.tablet_mobile h1{
    display: inline-block;
    color: #33CCFF !important;
}
.tablet_mobile h5{
    display: inline-block;
    color: #BDBDBD !important;
}

.ui.form {
    line-height: 2rem;
}

body {
    background-color: #faf9f6 !important;
}
.color {
    color: #2C3E50 !important;
}
.font {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.bottom {
    position: absolute;
    bottom: 1rem !important;
}