.computer_logo h1 {
    display: inline-block;
    color: #33CCFF !important;
}

.computer_logo h5 {
    display: inline-block;
    color: #BDBDBD !important;
}

#homepage_title {
    margin-bottom: 2rem !important;
}

pre {
    /* for markdown pre */
    
    font-family: 'Consolas', 'Panic Sans', 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Menlo', 'Microsoft Yahei', monospace;
    font-size: 13px;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #efedef !important;
}

.grey {
    color: #aaa !important;
}

code {
    /* for markdown code */
    
    font-family: Courier, 'New Courier', monospace !important;
    font-size: 12px !important;
    color: #000c27 !important;
    display: inline !important;
}

#homepost p img {
    /* for images in homepage post body */
    
    max-height: 15rem !important;
    width: auto !important;
}

#homepost p {
    /* setting color for homepage posts */
    
    color: #777 !important;
}

#showpost p img {
    /* post body */
    
    max-width: 100%;
    height: auto;
}

#showpost p {
    display: block;
}

.field .ui.icon.buttons {
    /* buttons on editor */
    
    display: inline-block;
    float: right;
    margin: 0 0;
}

textarea {
    min-height: 25rem !important;
}

.resizing {
    /* for preview on homepage */
    
    overflow: hidden !important;
    max-height: 25rem !important;
    line-height: 1rem !important;
}

.readmore {
    /* for preview on homepage */
    
    line-height: 1rem !important;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

hr {
    /* gray horizantol line */
    
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0;
}

#homepost p a {
    line-height: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #47AFD5 !important;
}

.inline {
    display: inline-block;
}

.ui.form {
    line-height: 2rem;
}

.homepage_menu {
    margin-top: 5rem !important;
}

.player {
    width: 10rem !important;
}

body {
    background-color: #faf9f6 !important;
}

.color {
    color: #2C3E50 !important;
}

.font {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.bottom {
    bottom: 1rem !important;
}

.editor {
    width: 40% !important;
}