<!DOCTYPE html>
<html>

<head>
    <title>Admin | xh4n3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='bower_components/jQuery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-sanitize/angular-sanitize.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-route/angular-route.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/moment/min/moment-with-locales.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin_app.js') }}"></script>
    <script src="{{ url_for('static', filename='admin_controllers.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/showdown/compressed/Showdown.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-markdown-filter/markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/ngstorage/ngStorage.min.js') }}"></script>
</head>

<body ng-app="zoneAdmin">
    <div class="ui grid page">
        <div class="row"></div>
        <div class="ten wide column">
            <a class="ui red header" ng-href="#/">Admin Panel</a>
        </div>
    </div>
    <div ng-view></div>
</body>

</html>