<div class="ui grid page">
    <div class="row"></div>
    <div class="four wide centered column">
        <div class="row">
            <form class="ui form" action="/admin/login" method="post">
                <div class="field">
                    <input type="password" autofocus name="username" style="text-align:center">
                </div>
                <div class="field">
                    <input type="submit" hidden="true" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>