<!DOCTYPE html>
<html ng-app="zoneApp" ng-controller="zoneCtrl">
<head>
<title>New Post</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="{{ url_for('static', filename='global.js') }}"></script>
<script src="{{ url_for('static', filename='postCtrl.js') }}"></script>
<script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
</head>
<body>
<div class="ui page grid">
    <div class="row"></div>
    <div class="row">
        <a class="logo" href="{{ url_for('index') }}">
            <h1 class="ui header">Zone</h1>
            <h5 class="ui header">beta</h5>
        </a>
    </div>
    <div class="row">
        <div class="ten wide column">
        <div class="ui form">
            <div class="ui  menu right floated">
    <div class="ui simple dropdown item">
      <i class="dropdown icon"></i>
       <i class="[[ category ]] icon"></i>
        [[ category ]]
      <div class="menu">
        <div class="item" ng-click="select('heart')"><i class="heart icon"></i>heart</div>
        <div class="item" ng-click="select('code')"><i class="code icon"></i>code</div>
        <div class="item" ng-click="select('student')"><i class="student icon"></i>student</div>
        <div class="item" ng-click="select('lemon')"><i class="lemon icon"></i>lemon</div>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Title</label>
    <input type="text" value="" ng-model="title"/>
  </div>
  <div class="field">
    <label>Body</label>
    <textarea ng-model="body"></textarea>
  </div>
            <div class="ui primary button" ng-click="post(title,body)">
                Save
            </div>
<div class="ui button">
  Discard
</div>
</div>
            [[ status ]]
            </div>
    </div>
</div>
</body>
</html>


