<div class="ui grid page">
    <div class="row">
        <div class="eight wide column">
            <div class="ui form editor fixed sticky">
                <div class="ui menu right floated">
                    <div class="ui simple dropdown item">
                        <i class="[[ $storage.category ]] icon"></i> [[ $storage.category ]]
                        <div class="menu">
                            <div class="item" ng-click="select('heart')"><i class="heart icon"></i>heart</div>
                            <div class="item" ng-click="select('code')"><i class="code icon"></i>code</div>
                            <div class="item" ng-click="select('student')"><i class="student icon"></i>student</div>
                            <div class="item" ng-click="select('lemon')"><i class="lemon icon"></i>lemon</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Title</label>
                    <input type="text" autofocus value="" ng-model="$storage.title" />
                </div>
                <div class="field">
                    <label>Body</label>
                    <div class="ui icon buttons">
                        <div class="ui icon button" ng-click="insert('bold')">
                            <i class="bold icon"></i>
                        </div>
                        <div class="ui icon button" ng-click="insert('mark')">
                            <i class="underline icon"></i>
                        </div>
                        <div class="ui icon button" ng-click="insert('code')">
                            <i class="code icon"></i>
                        </div>
                        <div class="ui icon button" ng-click="insert('linkify')">
                            <i class="linkify icon"></i>
                        </div>
                        <div class="ui icon button" ng-click="uploading=!uploading">
                            <i class="photo icon"></i>
                        </div>
                    </div>

                    <div ng-show="uploading">
                        <input type="file" onchange="angular.element(this).scope().upload(this);" />
                    </div>
                    <textarea ng-model="$storage.body" onchange="angular.element(this).scope().onchange(this);" ng-paste="paste($event)"></textarea>
                </div>
                <div class="ui primary button" ng-click="post()">
                    Save
                </div>
                <div class="ui button" ng-click="discard()">
                    Discard
                </div>
                [[ status ]]
            </div>

        </div>
        <div class="ui vertical divider">></div>
        <div class="eight wide column">
            <div class="row">
                <i class="[[ $storage.category ]] icon"></i>[[ $storage.category ]]&nbsp;&nbsp;
                <span class="ui header huge font color">[[ $storage.title ]]</span>
            </div>
            <div class="ui horizantal divider"></div>
            <div id="showpost" ng-bind-html="$storage.body | markdown"></div>
        </div>
    </div>
</div>